.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px repeat(4, 1fr) 200px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .header { grid-area: 1 / 1 / 2 / 4; }
    .div2 { grid-area: 2 / 1 / 3 / 4; }
    .div3 { grid-area: 3 / 1 / 4 / 2; }
    .div4 { grid-area: 3 / 2 / 4 / 3; }
    .div5 { grid-area: 3 / 3 / 4 / 4; }
    .div6 { grid-area: 4 / 1 / 5 / 2; }
    .div7 { grid-area: 4 / 2 / 5 / 3; }
    .div8 { grid-area: 4 / 3 / 5 / 4; }
    .div9 { grid-area: 5 / 1 / 6 / 2; }
    .div10 { grid-area: 5 / 2 / 6 / 3; }
    .div11 { grid-area: 5 / 3 / 6 / 4; }
    .div12 { grid-area: 6 / 1 / 7 / 4; }
    
    
    
button{
    
    padding:10px  25px ;
    float: left;
    background-color: rga(0,136,169,1);
    border: none;
    border-radius: 20px;
    background-color: rgb(49, 125, 224);
    cursor: pointer;
    transition: all 0.3s ease 0s;
    justify-content: space-between;
    display: flex;
    color: rgb(241, 246, 248);
    
}
button:hover{
    background-color: rgb(184, 17, 162);
}

.header{
    position: absolute;
    display: flex;
    background-color: black;
    justify-content: space-between;
    box-shadow: -10px 10px 10px rgb(26, 25, 25);
    width: 100%;
    
    

}
.header a{
    
    size: 20px;
    margin-right: 30px;
    margin-top: 50px;
}

.header li{
    
    display: flex;
    position: relative;
  
}
.header li a{
    padding: 10px 5px;
    color: aliceblue;
    display: block;
    border: none;
    border-radius: 10px;
    text-decoration: none;   
  
}
.header li a:hover{
    background-image: linear-gradient(rgb(140, 6, 145),rgb(177, 11, 168),rgb(148, 5, 117));
    transition: 2s;
}
.header h1{
    margin-right: 50px;
}
.header img{
    margin-right: 250px;
}
.parent{
    background-color: rgb(183, 230, 248);
}
.div2{
    font-family: 'Oswald', sans-serif;
    margin-top: 30px;    
    color: rgb(246, 252, 249);
    font-size: 20px;
    padding-top:50px ;
    padding-bottom: 50px;
    background-image:linear-gradient(rgba(20, 17, 61, 0.7),rgba(18, 11, 68, 0.7),rgba(96, 182, 231, 0.7)), url("imag/im2/top4.png");
    clip-path: polygon(100% 0, 100% 50%, 55% 99%, 0% 100%, 0 51%, 0% 0%);
    
}
.div2 h2{
    
    display: block;
    background-color: rgb(167, 167, 231);   
    color: rgb(3, 85, 17);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.div4 h3{
    
    margin-top: 50px;
    text-align: center;

}
.lii ul li{
    margin-left: 50px;
    margin-right: 20px;
    margin-top: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    list-style: none;
    font-family: 'Playfair Display', serif;
    color: rgb(3, 34, 75);
    display: block;
    border: none;
    border-radius: 10px;
    box-shadow: -10px 10px 10px rgb(26, 25, 25);
    

}
.lii ul li:hover{
    color: aliceblue;
    background-color:rgba(185, 72, 170, 0.7);
    transition: 1s;

}
.div4 a{
    list-style: none;
    
}
 .div12{
     
     display: inline-block;
     background-color: black;
 }
  .div12 li{
      list-style: none;

  }
.div12 img,.center{
    
    float: right;
}
.center{
    margin-top: 50px;
    padding-right:20% ;
    
}
.center li,address{
    color: rgb(246, 241, 248);
}
.copy{
    color: aliceblue;
}
.left{
    float: left;
    list-style: none;
    margin-top: 40px;
}
.left li,a{
    color: rgb(192, 49, 5);
    padding: 10px;
    border: none;
    border-radius: 10px;
}
.left li:hover{
    background-color: rgb(240, 48, 182);
    transition: 1s;

}


.div3{
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(rgba(242, 247, 244, 0.7),rgba(244, 252, 248, 0.7),rgba(11, 65, 44, 0.7));}
.div3 img{
    margin-top: 50px;
}
 .div3 p{
    font-family: 'Roboto Slab', serif;
     color: rgb(2, 49, 26);

 }
.div5 img{
    margin-top: 50px;
}
 .viv5 p{
    font-family: 'Fira Sans', sans-serif;
 }
 .div5{
     border: none;
     border-radius: 20px;
     background-image: linear-gradient(rgba(242, 247, 244, 0.7),rgba(244, 252, 248, 0.7),rgba(11, 65, 44, 0.7)); }
 .div7{
     border: none;
     border-radius: 20px;
     font-family: 'Roboto Slab', serif;
     background-image: linear-gradient(rgba(242, 247, 244, 0.7),rgba(244, 252, 248, 0.7),rgba(11, 65, 44, 0.7));
 }
 .div6 a{
     
     text-align: center;
     padding:10px 20px;
     border-radius: 10px;
     background-color: rgb(238, 5, 5);
     color: aliceblue;

     animation: animation 2s infinite linear;
     -webkit-animation: animation 2s infinite linear;
     -moz-animation:animation 2s infinite linear;
     }
     @keyframes animation
     {
         0%,45%{
             background-color: blueviolet;
             
         }
         46%, 100%{
             background-color: rgb(245, 7, 7);
             
         }
     }
 .div6 {
    margin-top: 200px;
    margin-left: 100px;
 }
 .div7 img{
     padding: 10px;
 }

 .div8 article{
     
     margin-left: 20px;
     font-family: 'Playfair Display', serif;
 }
  
.div8 h3{
    text-align: center;
}
.div11{
    background-image:linear-gradient(rgba(10, 82, 28, 0.7),rgba(59, 187, 69, 0.7),rgba(2, 61, 15, 0.7)), url(imag/im2/top4.png);
}
.div11 h3{
    color: aliceblue;
    text-align: center;
}
.div11 p{
    margin-top: 200px;
    margin-left: 20px;
    color: rgb(240, 240, 233);
    font-family: 'Playfair Display', serif;
    
}